@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(4 1 28 / var(--tw-bg-opacity));
}
.video-overlay {
  background: linear-gradient(0deg, #00031c, #00031cb3 15.62%, #00031c00 31.32%),
    linear-gradient(90deg, #00031c 6.03%, #00031c00 78.64%);
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

* {
  font-family: "Nunito Sans", sans-serif;
}
.bg-btn_bgcolor3 {
  --tw-bg-opacity: 1;
  background-color: rgb(108 82 238 / var(--tw-bg-opacity));
}
